.Panel {
    margin-top: 10px;
    min-width: 80%;
    border-radius: 10px;
    background: gray;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.ControlButton {
    padding: 5px 10px;
    background: rgb(113, 113, 113);
    border: 1px solid black;
}

.Icon {
    background: #7496b4;
    border: 1px solid #5a748b;
    padding: 1px;
    border-radius: 2px;
}

.ControlRangePanel {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.ControlRangeLabel {
    grid-area: 1 / 1 / 3 / 2;
    margin: auto 10px;
}

.ControlRangeButtonMore {
    grid-area: 1 / 2 / 2 / 3;
}

.ControlRangeButtonLess {
    grid-area: 2 / 2 / 3 / 3;
}

.ControlRangeButton {
    transition: all ease 0.5s;
}

.ControlRangeButton:hover {
    background: #7496b4;
}