.Panel {
    width: 500px;
    border-radius: 10px;
    background: gray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.ControlButton {
    padding: 5px 10px;
}

.Icon {
    background: #7496b4;
    border: 1px solid #5a748b;
    padding: 1px;
    border-radius: 2px;
}

.ControlRangePanel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.ControlRangeLabel {
    grid-area: 1 / 1 / 3 / 2;
}

.Styles.ControlRangeButtonMore {
    grid-area: 1 / 2 / 2 / 3;
}

.Styles.ControlRangeButtonLess {
    grid-area: 2 / 2 / 3 / 3;
}